## Transposome pipeline
# Data directories (ignore large raw/processed data, keep output results)
data/*
!data/output/

# Temporary slurm outs
*slurm-*
logs/

# example data
JG_CO_028_F*/

## Climate data pipeline
# keep data directory
!2_climateCode/data/
.Rproj.user
